* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(84, 84, 253);
}

main {
    background-color: rgb(201, 201, 201);
    width: 570px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.416);
}

img.fotosling {
    width: 50px;
    float: left;
}

h1 {
    font-size: 2em;
    color:rgb(37, 0, 137);
}

h2 {
    font-size: 1.5em;
    color:rgb(37, 0, 137);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

p.letrapequena {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color:rgb(37, 0, 137);
}

a:hover {
    text-decoration: underline;
    color:rgb(37, 0, 137);
}